<div class="usuario">
  <h1>Registro de Usuario</h1>
  <form class="flexCol" action="/register" method="POST">

    <label for="nombre">Ingrese su Nombre</label>
    <input type="text" required name="nombre" value="Juan Perez">

    <label for="username">Ingrese su Email</label>
    <input type="email" required name="username" value="juanpablo88@hotmail.com">

    <label for="password">Ingrese Contraseña</label>
    <input type="password" name="password" value="1234" required>
    <button>Registrarse</button>
    
  </form>
  <a href="/login">Ir a login</a>
</div>
